#beb-eab-contenitore-admin #beb-eab-contenitore-banner {
	background: none !important;
	border: none !important;
	box-shadow: none !important;
	padding: 0 !important;
}

#beb-eab-contenitore-banner {
	right: 25px !important;
	top: 105px !important;
}

#beb-eab-contenitore-banner .beb-eab-contenuto-banner {
	right: 0;
}

#beb-eab-banner-riass-form > div:not(:first-child) {
	border-top: 1px solid black;
}

#beb-eab-banner-riass-form > div {
	padding: 50px 0;
	width: 100%;
}

.beb-eab-stato-banner-riassunto h3,
.beb-eab-stato-banner-riassunto table {
	display: none;
}

#beb-eab-banner-riass-form .beb-eab-stato-banner-riassunto {
	margin-bottom: 30px;
	width: 90px;
}

.beb-eab-proprieta-banner {
	float: left;
	padding: 15px;
	width: 46%;
}

.beb-eab-proprieta-banner h1,
.beb-eab-proprieta-banner h2,
.beb-eab-proprieta-banner h3 {
	color: #000000;
}

.beb-eab-proprieta-banner p {
	margin: 0;
}

.beb-eab-proprieta-banner .beb-eab-add-banner-sugg {
	margin: 0 0 15px;
}

#beb-eab-banner-count-down {
	float: right !important;
    font-size: 80px;
    font-weight: bold;
    height: 100px;
    line-height: 96px;
    margin-right: 30px;
    margin-top: 64px;
    width: 100px;
}

#beb-eab-stato-banner {
	cursor:pointer;
	height: 55px;
	width: 90px;
}

.beb-eab-stato-banner-riassunto #submit {
	background-color: unset;
	border: medium none;
	box-shadow: none;
	height: 45px;
	padding: 0;
	width: 84px;
}

#beb-eab-banner-popup-body {
	background-color: black;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
}

#beb-eab-banner-popup-contenitore {
	background-color: white;
    border: 1px solid black;
    height: 23%;
    left: 34%;
    padding: 3%;
    position: fixed;
    top: 30%;
    width: 32%;
    z-index: 9999;
}

#beb-eab-banner-popup-annulla {
    margin: 11% 22% 0 28%;
}

#beb-eab-banner-operazioni {
    position: absolute;
    right: 10px;
    top: 61px;
}

#beb-eab-banner-operazioni #beb-eab-banner-remove {
	margin-left: 15px;
}

#beb-eab-banner-operazioni #beb-eab-banner-remove, #beb-eab-banner-operazioni #beb-eab-banner-edit {
	cursor: pointer;
	float: left;
    height: 30px;
	position: relative;
	width: 30px;
}

#beb-eab-banner-operazioni #beb-eab-banner-edit a {
	height: 30px;
	width: 30px;
}

#beb-eab-banner-operazioni input[type="submit"] {
	border: none;
	background-color: transparent;
	cursor: pointer;
	height: 30px;
    width: 30px;
}
