#beb-eab-contenitore-banner .beb-eab-contenuto-banner {
	right: 45px;
}

.beb-eab-banner-indice-pro {
	color: #888888;
	font-style: italic;
}

#beb-eab-banner-impostazioni {
    margin-top: 60px;
}

#beb-eab-contenitore-admin .form-table td:first-child {
    width: 45%;
}

#beb-eab-contenitore-admin .form-table .beb-eab-add-sugg {
	padding-bottom: 15px;
	text-align: center;
}

#beb-eab-contenitore-admin .form-table td input[type="submit"] {
	height: 30px;
    margin-left: 45%;
    width: 10%;
}

#beb-eab-contenitore-admin .form-table td input[type="text"] {
	margin-left: 15px 0 0 15px;
	width: 65px;
}

#beb-eab-contenitore-admin .form-table td select {
	margin-left: 15px;
	padding-right: 5px;
	text-align: right;
}

/* ------------------------------- IMPOSTAZIONI COLORI ------------------------------------------ */
#beb-eab-contenitore-admin.beb-eab-imp-colori .form-table {
    margin: 0;
    width: 69%;
}

#beb-eab-contenitore-admin.beb-eab-imp-colori th {
	padding: 0;
	text-align: right;
	vertical-align: text-top;
	width: auto;
}

#beb-eab-contenitore-admin.beb-eab-imp-colori td {
	padding: 0 0 20px 15px;
	vertical-align: text-top;
}

#beb-eab-contenitore-admin.beb-eab-imp-colori td,
#beb-eab-contenitore-admin.beb-eab-imp-colori .beb-eab-add-banner-colore {
	width: 73px;
}

#beb-eab-contenitore-admin.beb-eab-imp-colori .form-table td input[type="radio"] {
	margin: 0;
	width: auto;
}

#beb-eab-contenitore-admin.beb-eab-imp-colori .form-table td input[type="radio"]:last-child {
	margin-left: 10px;
}

.beb-eab-add-banner-colore {
	border: 1px solid black;
    height: 30px;
    padding: 0;
    width: 56%;
}

/* ------------------------------- IMPOSTAZIONI FORMATTAZIONE ------------------------------------------ */
#beb-eab-contenitore-admin.beb-eab-imp-formattazione .form-table {
	margin: 20px 0 0;
	width: 100%;
}

#beb-eab-contenitore-admin.beb-eab-imp-formattazione .form-table th {
	padding: 0 0 10px 0;
	text-align: right;
	vertical-align: middle;
    width: 16%;
}

#beb-eab-contenitore-admin.beb-eab-imp-formattazione .form-table tr td {
    padding: 0 0 10px 10px;
    width: 27%;
}

#beb-eab-contenitore-admin.beb-eab-imp-formattazione .form-table td input[type="text"] {
    margin: 0;
}

#beb-eab-contenitore-admin .form-table td select[name="beb_cv_banner_form_3[beb_eab_data_evento_giorno]"] {
	width: 50px;
}

#beb-eab-contenitore-admin .form-table td select[name="beb_cv_banner_form_3[beb_eab_data_evento_mese]"], 
#beb-eab-contenitore-admin .form-table td select[name="beb_cv_banner_form_3[beb_eab_data_evento_anno]"] {
	width: 100px;
}