#beb-eab-contenitore-banner div {
    float: left;
    position: relative;
}

#beb-eab-banner-cont-prenota-sx,
#beb-eab-banner-cont-prenota-dx {
	padding: 0 2%;
	width: 46%;
}

#beb-eab-banner-cont-prenota-sx a,
#beb-eab-banner-cont-prenota-dx a {
	text-decoration: none;
}

#beb-eab-contenitore-banner .beb-eab-cont-spazio-banner {
	float: right;
    height: 150px;
	z-index: 101;
}

.beb-eab-cont-spazio-banner h1,
.beb-eab-cont-spazio-banner h2,
.beb-eab-cont-spazio-banner h3,
.beb-eab-cont-spazio-banner2 h1,
.beb-eab-cont-spazio-banner2 h2,
.beb-eab-cont-spazio-banner2 h3 {
	color: #ffffff;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.beb-eab-cont-spazio-banner p,
.beb-eab-cont-spazio-banner a,
.beb-eab-cont-spazio-banner2 p,
.beb-eab-cont-spazio-banner2 a {
	color: #ffffff;
}

#beb-eab-contenitore-banner .beb-eab-spazio-banner {
    float: right;
	padding: 15px;
    right: 0;
    z-index: 90;
}

#beb-eab-banner-data {
	border-right: 1px solid #ffffff;
    width: 63px;
	height: 100%;
}

#beb-eab-banner-data h1 {
	font-size: 32px;
    line-height: 32px;
	width: 100%;
}

#beb-eab-banner-data h2 {
	border-bottom: 1px solid #ffffff;
	font-size: 25px;
    line-height: 25px;
	padding-bottom: 10px;
	text-align: center;
}

#beb-eab-banner-immagine {
    height: 110px;
    left: 2px;
    margin-right: 10px;
    top: 20px;
    width: 200px;
}

#beb-eab-banner-immagine img {
	height: 110px;
	width: 200px;
}

#beb-eab-banner-cont-testo {
	height: 120px;
	padding-left: 15px;
    width: 293px;
}

#beb-eab-banner-testo {
	height: 100px;
	width: 100%;
}

#beb-eab-banner-testo h1 {
	font-size: 25px;
	position: relative;
}

#beb-eab-banner-testo h2 {
    margin-bottom: 2px;
}

#beb-eab-banner-testo p {
	font-size: 13px;
}

#beb-eab-banner-cont-prenota {
	height: 20px;
	width: 100%;
}

#beb-eab-banner-cont-prenota h2 {
	float: left;
	font-size: 14px;
	width: 45%;
}

#beb-eab-banner-cont-prenota h2 a {
	text-decoration: none;
	z-index: 300;
}

.beb-eab-spazio-banner2 {
    opacity: 0.85;
    right: -48px;
}

.beb-eab-banner-freccia {
    height: 48px;
    left: 0;
    top: 51px;
    width: 48px;
}

#beb-eab-banner-bottone {
	cursor: pointer;
}